@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212; /* Cor de fundo escuro */
    color: #ffffff; /* Cor do texto escuro */
  }
}

body {
  font-family: 'Delius', cursive;
  background: linear-gradient(to bottom, #5f84e3, #132041);
  color: #ffffff;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

/* Estilos existentes */
.titulo {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 6px;
  line-height: 1.2;
  letter-spacing: 0px;  
  padding-top: 12px;
  padding-left: 48px;
  padding-right: 48px;
}

.titulo2{
    font-size: 20px;
    font-weight: 500;
}
.contador {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 24px;
  padding-left: 20px;
  padding-right: 20px;
}

.carrussel-container{
  position: relative;
}

.gallery-icon-link img{
  position: absolute;
  object-fit: contain;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  z-index: 10;
  opacity: 0.8;
  transition: 0.3s ease;
}

.gallery-icon-link:hover {
  opacity: 1;
}

.carousel {
  position: relative;
  width: 90%;
  max-height: 450px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin: 0 auto 14px;
  margin-top: 24px;
  display: flex;
}

#carouselTrack {
  display: flex;
  min-height: 450px;
  transition: transform 0.8s ease;
  will-change: transform;
}

.carousel-track img {
  width: 100%;
  flex-shrink: 0;
  object-fit: cover;
}

/* Setas de transição entre sessões */
.seta-baixo, .seta-cima {
  text-align: center;
  animation: bounce 2s infinite;
  font-size: 2rem;
  cursor: pointer;
}

@keyframes slideDownFade {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.index-pag {
  opacity: 0;
  animation: slideDownFade 0.8s ease-out forwards;
  animation-delay: 0.3s;
}

.music-caption {
  opacity: 0;
  animation: fadeIn 1.5s ease forwards;
  animation-delay: 0.5s;

}

.music-captiontxt img{
  width: 40px;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.line-edit{
  border-radius: 100%;
  width: 90%;
  margin-bottom: 20px;
}

.music-player {
  bottom: 30px;
  background: #fff;
  padding: 10px 14px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  z-index: 999;
  backdrop-filter: blur(5px);
}

.music-cover {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 15px;
  border: solid 1px;
  border-color: #dadada;
  border-radius: 12px;
}

.music-info {
  flex: 1;
  align-items: left;
  text-align: left;
}

.music-title {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.music-artist {
  margin: 5px 0 0 0;
  font-size: 12px;
  color: #777;
}

.play-pause {
  background-color: #c03737;
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  align-items: center;
}

.play-pause img {
  width: 20px;
  height: 20px;
}

.music-captiontxt {
  color: #fff;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 10px;
  padding-top: 10px;
  display: block; /* <-- faz o link ocupar 100% da largura */
  text-align: center; /* <-- centraliza o texto dentro do bloco */
}

.reload-btn{
  display: flex;
  border: none;
  background-color: transparent;
  transition: background-color 0.3s;
  margin-right: 12px;
}

.reload-btn img{
  width: 26px;
  height: 26px;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.reload-btn:active {
  animation: spin 0.5s ease;
}
