body {
  font-family: 'Delius', cursive;
  background: linear-gradient(to bottom, #5f84e3, #132041);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  text-align: center;
  padding: 20px;
}

.titulo {
  font-size: 28px;
  margin-bottom: 10px;
}

.contador {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 24px;
}

.carousel {
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  margin-bottom: 14px;
  position: relative;
}

#carouselTrack {
  display: flex;
  transition: transform 0.8s ease; /* Transição suave */
  will-change: transform;
}


.carousel-track img {
  width: 100%;
  flex-shrink: 0;
  object-fit: cover;
}

.spotify {
  font-size: 1.2rem;
  background: #FE0032;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
}

.botaoGaleria{
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
}

.seta-baixo {
    text-align: center;
    margin-top: 10px;
    animation: bounce 2s infinite;
    font-size: 2rem;
    cursor: pointer;
  }

  @keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(8px); }
  }

  